nav {
    display: flex;
    justify-content: center;
}

nav a{
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
    color: #000;
    transition: .3s;
}

nav a:hover{
    color: #ccc;
}

.active {
    background-color: rgb(0, 172, 225);
    border-radius: 5px;
    color: #fff;
    transition: .3s;
}